.wallet_assist_word {
	color: #666666;
}

.comment_and_collect {
	margin-top: 15px;
}

.get_more {
	margin: 20px 0 20px 0;
}

.span9 {
	font-size: 15px;
}

.feed_event_time {
	font-size: 12px;
	color: #AAAAAA;
}

.index_footer {
	margin-top: 450px;
}